$lightblue: lightblue;
$gap-button-group: 24px;

.container {
    background-color: $lightblue;

    // padding: 100px; 

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    // width: 100vw; 
    margin: 60px 100px 32px 100px;
}

.itemCard {
    display: flex;
    flex-direction: row;

    > img {
        // padding-left: 48px; 
        width: 35vw;
        height: 35vw;
    }

    &.arrow > img {
        width: 40px;
    }
}

.descriptionItem {
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: $gap-button-group;
}

.relatedTitle {
    margin-top: 48px;
    margin-bottom: 32px;
}

.relatedItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 146px;
    gap: min($gap-button-group, 1%);
}