$gap-button-group: 24px;

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin: 150px 100px 32px 100px;

    .back {
        display: flex;
        flex-direction: row;
        p {
            margin: 0;
        }
    }
}

.itemCard {
    display: flex;
    flex-direction: row;
    margin-top: 24px;

    >img {
        width: 35vw;
        height: 35vw;
    }

    &.arrow>img {
        width: 40px;
    }

    .descriptionItem {
        display: flex;
        flex-direction: column;
        margin-left: 48px;

        .buttonGroup {
            display: flex;
            flex-direction: row;
            gap: $gap-button-group;
        }
    }
}

.relatedTitle {
    margin-top: 48px;
    margin-bottom: 32px;
}

.relatedItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 146px;
    gap: min($gap-button-group, 1%);
}