.primary svg path:first-child{
    stroke: #000000;
    /* fill: #000000; */
}

.secondary svg path:first-child{
    stroke: #AFADB5;

    /* fill: #AFADB5; */
}

.accent svg path:first-child{
    stroke: var(--color-brand);

    /* fill: #518581; */
}

.disabledChek svg path:first-child{
    stroke: rgba(0, 0, 0, 0.2);

    /* fill: #518581; */
}

  