/* @import './Roboto/fonts';

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
} */

/* :root {
  --color-brand: #518581;
  --color-brand-hover: #86AAA7;
  --color-brand-active: #487773;
  --spaceXL: 24px;
  --spaceL: 20px;
  --spaceM: 16px;
  --spaceS: 14px;
  --spaceXS: 12px;
  --spaceXXS: 8px;
  --color-optionHover: #AFADB5
} */