.customInp {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-right: var(--spaceXS);

}

.customInp:focus-within {
    border: 1px solid var(--color-brand);
    background-color: #FFFFFF;

}

input {
    /* outline: 0; */
    width: 300px;
    font-size: 13px;
    padding: var(--spaceM) var(--spaceXS);
    border: 1px solid #FFFFFF;
    flex-grow: 1;
    font-size: var(--spaceM);

}

input:focus-within {
    /* focus-within */
    outline: 0;
    /* border: 1px solid #518581;
    background-color: #FFFFFF; */

}

input:disabled {
    background-color: #FFFFFF;

}

.placeholder {
    color: #AFADB5
}