$color-brand: var(--color-brand);
$white: rgb(255, 255, 255);

.container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: $white;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  z-index: 2;


  .containerMaxWidth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $white;
    width: 100%;
    max-width: 1440px;
    height: 100%;

    .logo {
      width: 42px;
      height: 42px;
    }

    .logoLala {
      width: 76px;
      height: 19px;
    }

    img {
      background-color: $white;
    }

    .userInfo {
      width: 30px;
      height: 30px;
    }

    .logoContainer,
    .userInfoContainer {
      height: 90px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .bag {
        position: relative;
        cursor: pointer;

        .inBag {
          position: absolute;
          top: -10px;
          right: -10px;
          background-color: red;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          color: white;
          font-size: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .minTextSize {
      p {
        word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      overflow-wrap: break-word;

      }
    }

    .userInfoContainer {
      gap: 24px;
    }
  }
}

@media (max-width: 730px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 340px) {
  .minTextSize {
    font-size: 10px;


  }
}