/* .primary svg{
    stroke: #000000;
    fill: #000000;
}

.secondary svg{
    stroke: #AFADB5;

    fill: #AFADB5;
}

.accent svg{
    stroke: var(--color-brand);

    fill: var(--color-brand);
} */
